<th scope="col" class="m-0 p-0"
    style="vertical-align: middle; text-align: end; font-size: x-small">
    <% UserRepository userRepository = new UserRepository();
    userRepository.fillUsersList();
    for (User user: userRepository.getUsersList()) {
    %>
    <button type="button" class="btn btn-outline-warning rounded-0 m-0 p-0"
            style="vertical-align: middle; text-align: end; font-size: small; width: 100px; height: 50px"><%= user.getFirstName()%> <%= user.getLastName()%></button>
    <%
    }
    %>
</th>

<th scope="col" class="m-0 p-0">

    <button type="button" class="btn btn-success rounded-0 m-0 p-0"
            data-toggle="modal" data-target=".modalDay"
            style="width: 70px; height: 50px; font-size: xx-small; padding: unset"></button>

</th>