.button {
    border: none;
    text-decoration: none;
    width: 120px;
    height: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    font-size: 10px;
    color: #98a0a6;
    font-weight: bolder;
    display:table-cell;
    vertical-align:middle;
    outline:none;
}
 .button:hover{

 }

 .button:disabled{
     outline:none;
 }

.button-col-header-weekday{
    color: #98a0a6;
    background-color: #e7e7e7;
}

.button-col-header-weekday:hover{
    color: #98a0a6;
    background-color: #e7e7e7;
}

.button-col-header-weekday:disabled,
.button-col-header-weekday[disabled]{
    color: #98a0a6;
    background-color: #e7e7e7;
}

.button-col-header-weekendday{
    color: #7c8287;
    background-color: #d4d4d4;
}

.button-col-header-weekendday:hover{
    color: #7c8287;
    background-color: #d4d4d4;
}

.button-col-header-weekendday:disabled,
.button-col-header-weekendday[disabled]{
    color: #7c8287;
    background-color: #d4d4d4;
}

.button-row-header-user{
    margin: 20px;
    width: 130px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    color: #8d9193;
    background-color: #e7e7e7;
    font-size: 12px;
}

.button-row-header-user:hover,
.button-row-header-user:focus,
.button-row-header-user:active {
    margin: 20px;
    width: 130px;
    height: 50px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
    background-color: #2b2b2b;
    font-size: 12px;
    outline:none;
}

.button-row-dayoff{
    background: #009747;
    align-self: end;
    color: #ffffff;
    height: 40px;
    position: center;
}

.button-row-dayoff:hover{
    background: #004e1f;
    align-self: end;
    color: #ffffff;
    height: 40px;
    position: center;
}

.button-row-dayoff:disabled,
.button-row-dayoff[disabled]{
    background: #009747;
    align-self: end;
    color: #ffffff;
    height: 40px;
    position: center;
}

.button-row-pending{
    background: #ffb918;
    align-self: end;
    color: #ffffff;
    height: 40px;
    position: center;
}
.button-row-pending:hover{
    background: #ec9a00;
    align-self: end;
    color: #ffffff;
    height: 40px;
    position: center;
}

.button-row-pending:disabled,
.button-row-pending[disabled]{
    background: #ffb918;
    align-self: end;
    color: #ffffff;
    height: 40px;
    position: center;
}

.button-row-weekday{
    align-self: end;
    height: 40px;
    position: center;
    background-color: #ededed;
}

.button-row-weekday:hover{
    align-self: end;
    height: 40px;
    position: center;
    background-color: #e3e3e3;
}

.button-row-weekday:disabled,
.button-row-weekday[disabled]{
    align-self: end;
    height: 40px;
    position: center;
    background-color: #ededed;
    outline:none;
}

.button-row-weekendday{
    color: #98a0a6;
    background: repeating-linear-gradient(-56deg,#e7e7e7 ,#e7e7e7 10px, #c6c6c6 10px, #c4c4c4 20px);
    align-self: end;
    height: 40px;
    position: center;
}

table.calendar{
    display: block; !important;
    height: 700px; !important;
    overflow-y: scroll; !important;

    border-collapse: separate;
    border-spacing: 0;
}

table.calendar thead{
    background-color: white;
}

table.calendar thead th{
    border-bottom: 2px solid #848484;
}

table.calendar thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 90px;
    background-color: #ffffff;
}


table.calendar thead th:nth-child(2) button{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

table.calendar thead th:nth-child(1){

    border-bottom: 2px solid #848484;
    min-width: 170px;
}

table.calendar thead th:last-child button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 20px;
}

table.calendar tr td:nth-child(2) button{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

table.calendar tr td:last-of-type button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 20px;
}

*:focus {
    outline: 0 !important;
}

.table-wrap {

    height: 900px;
    overflow: auto;  !important;
}

