
.container {
    width: 50%;
    margin: 0 auto;
}


/*
.button-container {
    padding: 2px;
    margin: 2px;
}
*/

.button-position {
    display: inline-block;
    cursor: pointer;
    float: right;
    padding: 10px;
    margin: 5px;
}
/*

.form-field-width {
    margin: 5px;
}*/
